<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>IT酷鱼网 | APP分享平台</title>
        <link rel='stylesheet' href='/css/pintuer.css' />
        <script src="/js/jquery.js"></script>
        <script src="/js/pintuer.js"></script>
        <style>
        .demo-nav{z-index:8;background:#fff;width:100%;padding:0;border-bottom:solid 3px #0a8;-webkit-box-shadow:0 3px 6px rgba(0, 0, 0, .175);box-shadow:0 3px 6px rgba(0, 0, 0, .175);}
        </style>
    </head>

    <body>
    	<!--导航-->
      <div class="demo-nav padding-big-top padding-big-bottom fixed-top">
        <div class="container padding-top padding-bottom">
          <div class="line">
            <div class="xl12 xs3 xm3 xb2"><button class="button icon-navicon float-right" data-target="#header-demo"></button><img src="images/logo.png"/>IT酷鱼网</div>
            <div class=" xl12 xs9 xm9 xb10 nav-navicon" id="header-demo">
        
              <div class="xs12 xm9 xb9 padding-small">
                <ul class="nav nav-menu nav-inline nav-big">
                  <li ><a href="###">首页</a></li>
                  <li ><a href="###">热门</a></li>
                  <li ><a href="###">最新</a></li>
                  <li ><a href="###">全部</a></li>
                </ul>
              </div>
              <div class="hidden-l hidden-s xm3 xb3">
                <div class="text-red text-big height-large text-right"> QQ : 461836324</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="height:68px;"></div>
      <div class="bg-main doc-intro padding-big-top padding-big-bottom bg-mix">
        <div class="container padding-big-top"><h1 class="fadein-top">IT酷鱼网</h1><p class="fadein-right">分享快乐的app平台</p></div>
      </div>