<%- include header %>
    <!--内容-->
    <div class="container">
      

      <div class="line-big padding-big-top padding-big-bottom">
      	<div class="xl12 xm4">
        	<h2 class="bg-main text-white padding">热门应用</h2>
            <div class="padding-big bg">
            	<ul class="list-media list-underline">
                	<li>
                        <div class="media media-x">
                          <a class="float-left" href="opus/A10001"><img src="image/A10001.jpg" width="80" class="radius ring-hover" alt="..."></a>
                          <div class="media-body"><strong><b>你靠什么能出人头地?</b></strong>让我们测试一下你靠什么来出人头地的吧。<a class="button button-little border-red swing-hover" href="opus/A10001">-->GO</a></div>
                        </div>
                    </li>
                	
                </ul>
            </div>
        </br>
        </div>

        <div class="xl12 xm4">
            <h2 class="bg-main text-white padding">最新应用</h2>
            <div class="padding-big bg">
                <ul class="list-media list-underline">
                    <li>
                        <div class="media media-x">
                          <a class="float-left" href="opus/A10001"><img src="image/A10001.jpg" width="80" class="radius ring-hover" alt="..."></a>
                          <div class="media-body"><strong><b>你靠什么能出人头地?</b></strong>让我们测试一下你靠什么来出人头地的吧。<a class="button button-little border-red swing-hover" href="opus/A10001">-->GO</a></div>
                        </div>
                    </li>
                    
                </ul>
            </div>
        </br>
        </div>

        <div class="xl12 xm4">
            <h2 class="bg-main text-white padding">推荐应用</h2>
            <div class="padding-big bg">
                <ul class="list-media list-underline">
                    <li>
                        <div class="media media-x">
                          <a class="float-left" href="opus/A10001"><img src="image/A10001.jpg" width="80" class="radius ring-hover" alt="..."></a>
                          <div class="media-body"><strong><b>你靠什么能出人头地?</b></strong>让我们测试一下你靠什么来出人头地的吧。<a class="button button-little border-red swing-hover" href="opus/A10001">-->GO</a></div>
                        </div>
                    </li>
                    
                </ul>
            </div>
        </br>
        </div>
      </div>
    </div>

<%- include footer %>